<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title><%= process.env.APP %></title>
    </head>
    <body class="bg-zinc-50 leading-relaxed">
        <div class="container max-w-screen-md mx-auto py-10 px-4 space-x-10">
            <%- include('./partials/navbar') %>
            <div class="my-12">
                <h2 class=" text-3xl font-semibold">Your Recent Snips</h2>
                <p class="text-zinc-500">Read the latest snips from our community</p>
            </div>
            <div class="mb-20 space-y-8">
                <div id="cards-container" class="grid gap-8">
                </div>
                <%- include('./partials/skeleton') %>
                <p class="text-zinc-800 mt-6 text-lg hidden" id="noSnips">No More Snips. <a href="/publish" class="text-indigo-600">Publish your snips</a>. :)</p>
            </div>
        </div>

        <script>

let more = { scroll: true, page: 0, stop: false }

const fetchSnips = async (page = 0) => {

    if (page != 0)document.querySelector('#skeleton').classList.toggle('hidden')
    const snips = await fetch('/api/snips?page=' + page + '&user')
    const container = document.getElementById('cards-container')

    if (snips.status === 200) {
        const data = await snips.json()

        data.data.snips.forEach(item => {
            const html =

            `<div class="w-full space-y-2">
                <span class="px-2 py-1 rounded text-sm bg-indigo-600 text-white">${item.language}</span>
                <span class="px-3 py-1 text-sm text-zinc-500 rounded bg-white ring-1 ring-zinc-200">${item.clicks} Reads</span>
                <h2 class="text-xl font-semibold"><a href="${item.uid}/${item.slug}" class="text-zinc-800 hover:text-indigo-600 cursor-pointer">${item.heading}</a></h2>
                <p class="text-zinc-600">${item.description.substring(0, 199)}...</p>
                <p class="text-sm text-zinc-800">
                ${ new Date(item.createdAt).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})} -
                <a href="/r/${item.user}" class="text-indigo-600">${item.fullname}</a>
                </p>
            </div>`
            
            container.innerHTML += html
        })

        more.scroll = data.data.snips.length === 10
        more.page = more.page + 1

    }
    
    document.querySelector('#skeleton').classList.toggle('hidden')
    if (!more.scroll || snips.status !== 200) {
        document.querySelector('#noSnips').classList.remove('hidden')
        more.scroll = false
    }

}

fetchSnips()

window.addEventListener("scroll", () => {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight && more.scroll) {
        fetchSnips(more.page)
    }
});


        </script>
    </body>
</html>
