@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    font-family: "JetBrains Mono";
}

body {
    --sb-track-color: #e0e7ff;
    --sb-thumb-color: #4f46e5;
    --sb-size: 9px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
    border: 3px solid #fafafa;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

pre {
    --sb-thumb-color: #fafafa;
    --sb-size: 6px;
}

pre::-webkit-scrollbar {
    width: var(--sb-size);
}

pre::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

pre::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
    border: 4px solid #272822;
}

@supports not selector(::-webkit-scrollbar) {
    pre {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;